USE QL_SIEUTHI

CREATE TABLE KhoHang
(
	MaHangHoa nchar (30) not null primary key,
	TenHangHoa nvarchar (50),
	LoaiHangHoa nvarchar (50),
	GiaBan float,
	GiaMua float,
	DonVi nvarchar (20),
	SoluongTrongKho int
)

CREATE TABLE NhanVien
(
	MaNhanVien nchar (20) not null primary key,
	TenNhanVien nvarchar (50),
	NgaySinh date,
	GioiTinh nvarchar (5),
	Luong float,
	Email nchar (20),
	DiaChi nvarchar (50),
	Tuoi int,
	CapNguoiDung nchar (10)
)

CREATE TABLE KhachHang
(
	MaKhachHang nchar (20) not null primary key,
	TenKhachHang nvarchar (50),
	SoDienThoai nchar (20)
)

CREATE TABLE HoaDon
(
	MaHoaDon nchar (20) not null primary key,
	NgayLapHoaDon date,
	GioLapHoaDon time,
	TenNVLapHoaDon nvarchar (50),
	MaNVLapHoaDon nchar (20),
	TenKhachHang nvarchar (50),
	MaKhachHang nchar (20),
	TienHang float,
	PhanTramGiamGia float,
	GiamGia float,
	TongThanhTien float,
	KhachDua float,
	TraLai float,
)

CREATE TABLE ChiTietHoaDon
(
	MaHoaDon nchar (20) not null,
	MaHangHoa nchar (30) not null,
	TenHangHoa nvarchar (30),
	GiaBan float,
	Soluong int,
	ThanhTien float
)
Alter table ChiTietHoaDon
Add constraint  PK_ChiTietHoaDon primary key (MaHoaDon,MaHoaDon)

CREATE TABLE ThongTinSieuThi
(
	TenSieuThi nvarchar (50) not null primary key,
	DiaChiSieuThi nvarchar (50),
	SoDT nchar (20),
	TenChuSieuThi nvarchar (50),
	MaNVChuSieuThi nchar (20),
	CongQuy float,
)

CREATE TABLE Users
(
	UserName nchar (30) not null,
	Passwords nchar (30) not null,
	MaNhanVien nchar (20) not null
)
Alter table Users
Add contraint PK_Users primary key (UserName,Passwords,MaNhanVien)

CREATE TABLE ThuChi
(
	ThuChi nchar (5),
	TenHangHoa nvarchar (50),
	MaHangHoa nchar (30),
	SoLuong int,
	SoTienThuChi float,
	NgayThuChi date not null,
	GioThuChi date not null,
	TenNhanVienThuChi nvarchar (50),
	MaNhanVienThuChi nchar (20)
)
Alter table ThuChi

Add contraint PK_ThuChi primary key (NgayThuChi,GioThuChi)









INSERT INTO KhoHang
VALUES('BANH01',N'Bánh gạo want want vị phô mai 108g',N'BÁNH',39.900,28.600,'gói',18),
VALUES('BANH01',N'Bánh quế Cosy nhân kem phô mai 46.2g',N'BÁNH',5.000,2.600,'hộp',34),
VALUES('BANH01',N'Bánh kem sữa hạt chia Rosio 276g',N'BÁNH',55.800,42.600,'gói',20),
VALUES('BANH01',N'Bánh bông lan Apollo cốm hộp 360g',N'BÁNH',63.600,51.200,'hộp',46),
VALUES('BANH01',N'Bánh quy Cosy dừa Marie 320g',N'BÁNH',41.400,29.600,'hộp',14),


INSERT INTO KhoHang
VALUES('DAN01',N'Phở bò Như Ý',N'ĐỒ ĂN NHANH',4.000,2.300,'gói',46),


INSERT INTO KhoHang
VALUES('RAUCU01',N'Bắp Mỹ siêu ngọt',N'RAU CỦ',17.500,9.400,'0.5kg',10),
VALUES('RAUCU02',N'Cam Úc',N'RAU CỦ',49.000,39.400,'01kg',20),
VALUES('RAUCU03',N'Kiwi xanh New Zealand',N'RAU CỦ',105.000,86.500,'1kg',15),
VALUES('RAUCU04',N'Nho xanh không hạt Mỹ',N'RAU CỦ',185.900,140.600,'1kg',26),
VALUES('RAUCU05',N'Cherry đỏ Mỹ',N'RAU CỦ',180.500,145.600,'1kg',8),
VALUES('RAUCU06',N'Táo Jazz New Zealand',N'RAU CỦ',79.000,58.600,'1kg',14),















